<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        
        <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/favorite' ? 'active' : '' %>" href="/favorite">FAVOURITE</a>                 
                </li>
        </ul>
        
        <div class="main-header__search">
            <div class="main-header-search__title">
                    <h3>The Beer Bank</h3>
                    <p>Find your favorite beer here</p>
            </div>
            <% if(path === '/') { %>
                <input type="text" 
                            placeholder="Search for beer name" 
                            name="beer"
                            id="search-input" 
                            size="50"/>
            <% } %>
            <% if(path === '/' || path === '/search-result') { %>
                <div class="advanced-search">
                    <a href="/advanced-search">Advanced search</a>
                </div>
            <% } %>
        </div>
    </nav>
</header>
    
</nav>