<%- include('../includes/head.ejs') %>
    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="modal">
                    
                </div>

                <div class="grid">
                    <div id='beer-loader' style='display: none;'>
                        <img src='/img/loading.gif'>
                    </div>
                </div>
            </main>
        <%- include('../includes/end.ejs') %>